ins {
text-decoration: none;
}
#markup-templates {
display: none;
}
html, body {
margin: 0;
font-size: 90%;
}
html, body, input {
font-family: arial, sans-serif;
}

div, form {
margin: 0;
}
html.settings, body.settings {
overflow: auto;
}
a,
a:visited,
ul#reading-list li,
.link {
color: #1010c8;
}
.link {
text-decoration: underline;
cursor: pointer;
}
a:focus {
-moz-outline: 0;
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;
}
a.internal,
.link.internal {
color: #a00;
}
input {
font-size: 95%;
}
div.clr {
clear: both;
}
.hidden {
display: none;
}

#view-selector {
background: #ddd;
padding: 0.2em;
-moz-border-radius: 5px;
margin-right: 1em;
}


body {
background: #fff url(cv-bkg.png) repeat-y center top;
}

a,
a:visited,
.item .item-title a,
.link {
color: #4f7fc9;
}
.item-body a:visited {
color: #666;
}
#main {
padding: 0  60px;
width: 700px;
margin: 0 auto;
}
#header, #items {
margin: 0;
}
#header {
border-bottom: 5px solid #ccc;
padding: .5em 0;
}
#items {
width: 400px;
position: relative;
margin-right: 60px;
}
#items, #sidebar {
float: left;
}
#sidebar, .item {
padding: 1.3em 0;
}
#sidebar {
width: 230px;
font-size: 120%;
color: #777;
}
#sidebar .descrip {
font-size: 80%;
}
#message-area {
margin: 0;
}

h1 {
font: normal normal 200% Georgia, Times, serif;
color: #7f7f7f;
text-transform: uppercase;
letter-spacing:.2em;
line-height: 1.2em;
margin: 0;
}
.item-title {
font-size: 160%;
color: #333;
margin: 0 0 .2em;
}
.item .item-info {
margin-bottom: 1.5em;
color: #999;
}
.item .item-title a {
text-decoration: none;
border-bottom: 1px solid #ccc;
}
.item {
border-bottom: 1px solid #ccc;
padding: 1.3em 0;
overflow: hidden;
width: 100%:
}
#more {
font-size: 160%;
padding: 1em 0 3em;
}
